/* if you look at this code you will vomit */
/* -- Chat part -- */
.channelTextArea-rNsIhG, .wrapper-39oAo3 { 
    width: auto;
    margin: 11px 0 24px 55px;
}
.jumpToPresentBar-G1R9s6 {
    margin-bottom: -10px;
    margin-left: 55px; 
}

/* -- Avatar -- */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    position: fixed;
    bottom: 31px;
    left: 325px;
}
.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA { padding: 4px; }

/* -- User activity settings -- */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { margin-bottom: -3px; width: 45px; background: var(--background-secondary-alt); }
.customEmojiPlaceholder-37iZ_j { background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Twemoji_1f600.svg/512px-Twemoji_1f600.svg.png); }
.clearStatusIcon-3-MDNF, .item-1tOPte.colorDefault-2K3EoJ[id="status-picker-game-activity"] { margin-right: 2.5px; margin-left: 0; }
.item-1tOPte.colorDefault-2K3EoJ[id="status-picker-game-activity"] > .statusItem-33LqPf > svg { width: 16px !important; height: 16px !important; }
.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih > * > .statusItem-33LqPf {
    padding-left: 10px;
    size: 100px;
}

.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih > * > .statusItem-33LqPf > * {
  font-size: 0px;
  width: 12.5px !important;
  height: 12.5px !important;
}

/* mute deafen and settings buttons */
/* totally not stolen code from LuckFire#4800 */
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons)  {
    position: fixed !important;
    z-index: 5;
    background-color: var(--background-secondary-alt) !important;
    transition: 150ms ease;
    border-radius: 5px;
    padding: 2px 0 2px 0;
    opacity: 0;
    pointer-events: none;
}
.nameTag-3uD-yy.canCopy-2VBT7N,
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    bottom: 30px;
    margin-left: 143px;
}

.avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy.canCopy-2VBT7N,
.avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N:hover,
.avatarWrapper-2yR4wp:hover ~ .flex-1xMQg5:not(.spotify-buttons),
.avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons):hover {
    opacity: 1;
    pointer-events: all;
    transition: 150ms ease;
}
.panels-j1Uci_ > .container-3baos1:last-child {
    z-index: -3;
    height: 0;
    width: 0
}

/* thanks to Freeplay#5676! */
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    padding-right: 30px;
    background-color: transparent !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button {
    background-color: var(--background-secondary-alt) !important;
    border-radius: 0 !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button:first-of-type {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button:last-of-type {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    z-index: 6;
}

/* maybe fixes */

/* make the avatar thing hide */
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv, .pageWrapper-1PgVDX, .noChat-18KtBD {
    z-index: 8 !important;
}

/** If the theme ever breaks, it's up to you to fix it. */ 
/* Feel free to create a repo with this theme's CSS or idea, no need to give me credit. (The main "idea" came from Nyria's 'Comfy theme'; which you can find here: https://github.com/NYRI4/Comfy, you might need to ask them for permission.) **/

/* End of life warning message (credit goes to https://github.com/Snippets-For-Discord/theme-warnings) */
@keyframes Popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.layer-3QrUeG:first-of-type::before {
  content: "Comfier theme is officially dead, I suggest disabling it; if you genuinely want to keep on using it, go into this theme's CSS file (likely located in %userprofile%/powercord/src/powercord/themes/comfier-theme) and remove the lines 99-125.";
  z-index: 9999;
  background: #202020e0;
  color: #fffffff0;
  position: fixed;
  text-align: center;
  padding: 20px;
  width: 470px;
  top: 85px;
  left: 35%;
  border-radius: 7.5px;
  box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
  border: 3px solid #F04747e0;
  animation: Popup .75s;
  animation-delay: 1s;
}
