/* if you look at this code you will vomit */
/* -- Chat part -- */
.channelTextArea-rNsIhG, .wrapper-39oAo3 { 
    width: auto;
    margin: 11px 0 24px 55px;
}
.jumpToPresentBar-G1R9s6 {
    margin-bottom: -10px;
    margin-left: 55px; 
}

/* -- Avatar -- */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    position: fixed;
    z-index: 0.1 !important;
    bottom: 31px;
    left: 325px;
}
.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA { padding: 4px; }

/* -- User activity settings -- */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { margin-bottom: -3px; width: 43px; background: var(--background-secondary-alt); }
.customEmojiPlaceholder-37iZ_j { background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Twemoji_1f600.svg/512px-Twemoji_1f600.svg.png); }

/* mute deafen and settings buttons */
/* totally not stolen code from LuckFire#4800 */
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons)  {
    position: fixed !important;
    z-index: 5;
    background-color: var(--background-secondary-alt) !important;
    transition: 150ms ease;
    border-radius: 5px;
    padding: 2px 0 2px 0;
    opacity: 0;
    pointer-events: none;
}
.nameTag-3uD-yy.canCopy-2VBT7N,
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    bottom: 30px;
    margin-left: 143px;
}

.avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy.canCopy-2VBT7N,
.avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N:hover,
.avatarWrapper-2yR4wp:hover ~ .flex-1xMQg5:not(.spotify-buttons),
.avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons):hover {
    opacity: 1;
    pointer-events: all;
    transition: 150ms ease;
}
.panels-j1Uci_ > .container-3baos1:last-child {
    z-index: -3;
    height: 0;
    width: 0
}

/* thanks to Freeplay#5676! */
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    padding-right: 30px;
    background-color: transparent !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button {
    background-color: var(--background-secondary-alt) !important;
    border-radius: 0 !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button:first-of-type {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) > button:last-of-type {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    z-index: 6;
}

/* maybe fixes */

/* move the show/hide chat in group chats */
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6 > * {
    right: -50px !important;
}
